$fuentprincipal : 'Montserrat', sans-serif;


// Colores

$verde: #09dbb8;
$rosa: #eb2c6f;
$amarillo: #FAD02C;
$morado: #A16AE8;
$negro: #333652;
$blanco: #f8f8f8;

// Media Queries
$telefono: 480px;
$talblet: 760px;
$desktop: 1200px;

// Fuentes

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;


//  Separaciones

$separacion: 5rem;